{% extends 'base.html.twig' %}

{% block title %}Mon panier - La Boutique Française
{% endblock %}

{% block content %}
	<h1>Mon panier</h1>
	Retrouvez l'ensemble des produits que vous avez ajouté à votre panier

	<table class="table mt-3">
		<thead>
			<tr>
				<th scope="col">Produit</th>
				<th scope="col"></th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix</th>
				<th scope="col">Total</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>

			{% for product in cart %}
				{# {{ dump(product) }} #}
				<tr>
					<th></th>
					<td>{{product.product.name}}</td>
					<td>{{product.quantity}}</td>
					<td>{{product.product.price / 100}}
						€</td>
					<td>{{product.product.price * product.quantity / 100}}
						€</td>
					<td></td>
				</tr>

			{% endfor %}
		</tbody>
	</table>

{% endblock %}
