{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block content %}
	<section class="section">
		<div class="container">
			<h1>Mon panier</h1>
			Rectouvez l'ensemble des produits que vous avez ajouté à votre panier.
			<hr>
			{# AFFICHE le panier que si il y a au moins 1 produit #}
			{# SINON AFFICHE "Votre panier est vide" #}
			{% if cart|length > 0 %}
			
				<table class="table mt-3">
				
					<thead>
					
						<tr>
							<th scope="col">Produit</th>
							<th scope="col"></th>
							<th scope="col">Quantité</th>
							<th scope="col">Prox</th>
							<th scope="col">Total</th>
							<th scope="col"></th>
						</tr>

					</thead>

					<tbody>

						{% set total = null %}

						{% for product in cart %}
							<tr>
								<th>
									<img src="/uploads/{{product.product.illustration}}" height="75px" alt="{{product.product.name}}">
									<br>
								</th>

								<td>
									{{product.product.name}}
									<br>
									<small>{{product.product.subtitle}}</small>
								</td>

								<td>
									<a href=" {{path('decrease_to_cart', {'id' : product.product.id})}}">
										<img src="{{ asset('assets/img/moins.png')}}" height="25px" alt="Ajouter un produit">
									</a>
									x {{product.quantity}}
									<a href=" {{path('add_to_cart', {'id' : product.product.id})}}">
										<img src="{{ asset('assets/img/plus.png')}}" height="25px" alt="Ajouter un produit">
									</a>
								</td>

								<td>{{((product.product.price) / 100) |number_format(2, ',', '.')}}€</td>

								<td>{{((product.product.price * product.quantity) / 100) |number_format(2, ',', '.')}}€</td>

								<td>
									<a href=" {{path('delete_to_cart', {'id' : product.product.id})}}">
										<img src="{{ asset('assets/img/effacer.png')}}" height="25px" alt="Supprimer mon produit">
									</a>
								</td>
							</tr>
							{% set total = total + (product.product.price * product.quantity) %}
						{% endfor %}

					</tbody>
				</table>

			<div class="text-right mb-5">

				<b>Nombe de produits:</b> {{cart|length}}

				<br>

				<b>Total du panier:</b> {{((total) / 100) |number_format(2, ',', '.')}}€

				<a href="#" class="btn btn-main btn-block">Valider mon panier</a>

			</div>

			{% else %}

				<br>
				<p><b>Votre panier est vide</b></p>

			{% endif %}
	</section>
{% endblock %}




