{% extends 'base.html.twig' %}

{% block title %}Nos produit
{% endblock %}

{% block content %}
	<section class="section gallery">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-12 text-center mb-5">
						<h1 class="font-weight-bold">Nos produits</h1>
					</div>

					{% for product in products %}
						<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
							<div class="product-item text-center">
								<div class="block">
									<div class="gallery-overlay">
										<a href="{{path('app_products', {'slug' : product.slug})}}" class="gallery-popup">
											<i class="fa-solid fa-plus"></i>
										</a>
									</div>
									<img class="img-fluid w-100" src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid">
								</div>
								<div class="product-info">
									<a class="link-title" href="{{path('app_products', {'slug' : product.slug})}}">
										<h4>{{product.name}}</h4>
									</a>
									<p>{{product.subtitle}}</p>
									<p class="price">{{(product.price/100) |number_format(2, ',', '.')}}
										€</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>


	{% endblock %}
